#task-grid{
    background-color: #9cc6ff !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
  }
  
  #taskform{
    grid-area: taskform;
    max-width: 300px;
    margin: 0 auto;
  }
  
    label{
    display: block;
    width: 100%;
    color: #fff !important;
    }
  
  #tasklist{
    grid-area: tasklist;
  }